*{
    box-sizing: border-box;
}

body{
    margin: auto, 0;
    color: white;
    background-color: #000024;
}

h1{
    font-size: 60px;
    color: blue;
    text-align: center;
    border-bottom: 2px solid blue;
}

h4{
    color: blue;
    font-size: 36px;
    font-weight: 500;
}
