<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>
  <br>
  <div class="container">
    <h1>YourQuote</h1>
    <p class="text-center" style="font-style: italic; font-size: large;" >Get inspired, encouraged, lifted or motivated by a variety of quotes. Even better, you can reciprocate the feeling by adding YourQuote. <br> Let's stay positive!</p>
    <br>
    <app-quotes></app-quotes>
    <br>
  </div> 
</body>
</html> 
