<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>
  <br>
  <div class="container">
    <h1>YourQuotes</h1>
    <div class="row mt-md-3">
      <div class="col-md-7 text-center" color="white">
        <h4>Quotes</h4>
        <app-quotes></app-quotes>
      </div>
      <!-- <div class="col-md-2"></div> -->
      <div class="col-md-5 text-center" >
        <h4>Add Your Quote</h4>
      </div>
    </div>
  </div> 
</body>
</html> 
