button{
    padding: 5px;
}

#quote{
    font-size: x-large;
    font-style: italic;
    padding-top: 10px;
}

.moreDetails{
    padding-left: 30px;
    padding-bottom: 20px;
    text-align: center;
}

h4{
    color: blue;
    font-size: 36px;
    font-weight: 500;
}