<div class="container-fluid">
    <hr style="background-color: blue;">
    <form (ngSubmit) = "submitQuote()" #quoteForm = "ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' placeholder="Enter your name"  required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Your Name is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="4"  [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" placeholder="Type your Quote"  required></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>The Quote is required</p>
            </div>     
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' placeholder="Author of the Quote"  required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="complete" style="padding-left: 3px;">Date Created</label>
            <br>
            <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
          <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
            <p>Date is required</p>
          </div>
        </div>

        <button id="submitbtn" type="submit" class="btn btn-primary">Add Quote</button>
        <!-- <button id="resetbtn" type="reset" class="btn btn-success" id="reset-btn" ng-click="resetForm()">Reset</button>  -->

        <hr style="background-color: blue;" >

        <h6>For more info:</h6>
        <div class="inline-ul text-center d-flex justify-content-center" id="Contact-icons" >
            <a class="icons-sm tw-ic px-4" href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
            <a class="icons-sm li-ic px-4"><i class="fa fa-whatsapp" href="https://wa.me/0713925352" > </i></a>
            <a class="icons-sm ins-ic px-4" href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"> </i></a>
        </div>
    </form>
</div>