<!-- <div class="container-fluid">
    <h2 class="text-center">Add your own Quote</h2>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newGoal.name" name="name" #name='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Your Name is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Quote is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <textarea class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required></textarea>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Author is required</p>
            </div>
        </div>

        <!-- <div class="form-group">
            <label for="complete">Completion</label>
            <input type='date' id="complete" [(ngModel)]="newGoal.completeDate" name="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p>Date is required</p>
            </div> -->
            <!-- </div> -->
        <!-- <button type="submit" class="btn btn-success" >Add Quote</button>   
    </form>
</div> --> -->